.resume-outer {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height: 100vh;
    width: 100vw;
    text-align: center;
}
.name {
    font-size: 15px;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-color: black;
}
span {
    font-weight: bold;
}
h1 {
    font-weight: bold;
}
.summary {
    font-size: 15px;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-color: black;
}