.section {
    text-align: center;
}

.body {
    height: 100vh;
    width: 100vw;
}

.contact-info {
    margin: 5px;
    display: flex;
    justify-content: center;

}

.links {
    color: black;
    text-decoration: none;
}

.summary {
    font-weight: bold;
    font-size: 18px;
}

.hr-element {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    width: 95vw;
    text-align: center;
}

.education {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}

.subheading {
    font-weight: bold;
    font-size: 20px;
}