* {
    box-sizing: border-box;
    padding: 0;
}

.section {
    text-align: center;
}

body {
    height: auto;
    width: auto;
}

.contact-info {
    margin: 5px;
    display: flex;
    justify-content: center;

}

.links {
    color: black;
    text-decoration: none;
}

.summary {
    font-weight: bold;
    font-size: 18px;
}

.hr-element {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    width: 95vw;
    text-align: center;
}

.education {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}

.subheading {
    font-weight: bold;
    font-size: 18px;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 30px;
}

.hr-element2 {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    width: 80vw;
    text-align: center;
}