.resume-outer {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height: 95vh;
    width: 95vw;
    text-align: center;
}
.name {
    font-size: 15px;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
}
span {
    font-weight: bold;
}
h1 {
    font-weight: bold;
    font-size: 30px;
}
.summary {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.ed-left {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
h2 {
    font-weight: bold;
    font-size: 20px;
}
.ed-right {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}
.education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.bottom_border {
    border-bottom-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-color: black;
}